@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
:root {
  --background-color: hsl(255, 40%, 95%);
  --text-color: hsl(255, 60%, 20%);
  --background-button-color: hsl(255, 60%, 40%);
  --th-background-color: hsl(255, 50%, 80%);
  --td-background-color: hsl(255, 50%, 90%);
  --td-text-color: #274d7b;
  --calendar-background-color: hsl(255, 30%, 85%);
}


body {
  font-family: "Funnel Display", sans-serif;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100vh;
  /* background: #b9d2e0; */

  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
    background-color: var(--background-color);
  color: var(--text-color);
}

.info {
  width: 50vw;
  height: 100vh;
  padding: 32px 32px 8px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

h1 {
  color: var(--text-color);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

#random-color-btn, #redraw {
  background-color: var(--th-background-color);
  color:var(--text-color);
}

button {
  min-height: 48px;
  background-color: var(--background-button-color);
  color: var(--background-color);
  border: none;
  align-self: flex-start;
  padding: 0 16px;
    font-family: "Funnel Display", sans-serif;

}

p{
  margin:4px 0;
}

.calendar-layout {
  overflow: hidden;
  width: 50vw;
  max-height: 100vh;
  /* background-image: url("img/OctoberBase.jpg"); */
  /* background-color: var(--calendar-background-color); */
  /* mix-blend-mode: multiply; */
  /* background: #c4e0f1; */

  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow:hidden;
  position:relative
}

h3 {
  color: #274d7b;
  margin: 8px 0 4px;
  font-size: 1rem;
}

#seasonal-list {
  justify-self: flex-start;
  display: flex;
  padding: 16px;
  height: 30%;
  /* background-image: url("img/figs.png"); */
  background-size: 30%;
  background-position: center center;
  background-repeat: no-repeat;
    /* mix-blend-mode: difference; */

}

.calendar-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 16px;
  box-sizing: border-box;
}

.calendar {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.calendar h2 {
  /* text-align: center; */
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--);
  background-color: var(--th-background-color);
  padding: 8px 16px;
  border: 1px solid var(--text-color);
}

table {
  width: 100%;
  height: 50vh;
  border-collapse: collapse;
}

thead th {
  height: 24px;
}

th,
td {
  width: 14.28%;
  min-height: 40px;
  /* text-align: center; */
  font-weight: 400;
  border: 0.1px solid var(--text-color);
  color: #274d7b;
}

th {
  background-color: var(--th-background-color);
  color: var(--text-color);
}

td {
  position: relative;
  padding: 0;
  vertical-align: top;
  /* background: #fafafa; */
  border: 1px solid var(--text-color);
  background-color: var(--td-background-color);
  color: var(--text-color);
}

.cell-date {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 14px;
  color: var(--text-color);
}

.cell-moon {
  position: absolute;
  bottom: 4px;
  right: 6px;
  font-size: 18px;
}

ul {
  width: 100px;
  list-style-type: none;
  margin: 0 8px;
  padding: 0;
}

li {
  color: #274d7b;
  font-size: 0.8rem;
  margin: 4px 0;
}

.p5Canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#month-year-form{
display:flex;
gap:8px;
margin:16px 0;

}

#month-year-form label{
  align-self:center
}


